img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 1%;
}

.jumbotron {
  background-color: white;
  border: 0.5px solid black;
  margin: 1%;
  padding: 2%;
}

.search-form {
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.block {
  display: inline-block;
  margin: 50%;
}

.panel-heading {
  margin: 2%;
}

.fol {
  margin: 5%;
}

.fol span {
  border: 0.5px solid black;
  border-radius: 5px;
  margin: 0.2%;
  padding: 0.5%;
  font-size: 75%;
}

.panel-body>.rep {
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 2%;
  margin: 0.4%;
}
